@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:wght@300;400&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

.nav-link {
    color: rgb(150, 150, 150);
    text-decoration: none;
    margin-top: 42px;
}
.nav-link:hover {
    color: black;
}
.nav {
    display: flex;
}
.text {
    color: rgb(86, 86, 86);
    line-height: 30px;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

.learn, .others, .link, .list-item {
    text-decoration: none;
    color: rgb(150, 150, 150);
}

.list-item:hover {
    color: white;
}

.learn:hover, .active, .others:hover, .link:hover {
    color: black;
}

.programiz, .wiki, .me {
    line-height: 30px;
    color: rgb(150, 150, 150);
}

.code {
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: left;
}

.print {
    color: lightblue;
}

.str {
    color: greenyellow;
}

.comment {
    color: wheat;
}

.num {
    color: orange;
}

.bool {
    color: lightblue;
}

.next {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.btn {
    background-color: rgb(173, 216, 230);
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-size: large;
}
.btn:hover, .btn:hover > .next{
    background-color: rgb(0, 128, 171);
    color: white;
}

.foot {
    background-color: #004E98;
    max-width: 1293px;
}

.foot-main {
    color: white;
    padding-bottom: 120px;
}
.nav-link {
    color: rgb(150, 150, 150);
    text-decoration: none;
}
.nav-link:hover {
    color: black;
}
.net-icon {
    margin-left: 10px;
    margin-top: 16px;
}
.me {
    margin-left: 10px;
}

/* NOTE  this is for laptops */
@media screen and (min-width: 1055px) {
    .net {
        margin-left: 200px;
    }    
    .nav {
        margin-top: 50px;
        margin-left: 180px;
    }
    .nav-link {
        margin-left: 250px;
    }
    .main2 {
        padding-top: 100px;
        margin-left: 180px;
        display: flex;
    }
    .parts {
        padding-left: 100px;
    }
    .foot {
        border-right: 200px solid #004E98;
    }
    .foot-main {
        padding-left: 180px;
        padding-top: 30px;
        display: flex;
    }
    .tutorials, .challenges, .Company {
        margin-left: 100px;
        text-align: center;
    }
    .course {
        margin-left: 25px;
    }
}

/* NOTE this is for problem making screens */
@media screen and (max-width: 1293px) {
    .main2 {
        display: block;
    }
    .lessons {
        margin-bottom: 100px;
        text-align: center;
    }
}

/* NOTE this is for tabs */
@media screen and (max-width: 1100px) {
    *{
        text-align: center;
        padding: 0%;
    }
    .net {
        margin-left: 100px;
    }    
    .nav {
        display: grid;
    }
    .nav-link {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .code {
        text-align: left;
    }
    .foot-main {
        padding-top: 40px;
        padding-left: 0%;
        display: block;
    }
    .detail {
        border-bottom: 1px solid white;
    }
    .detail > *{
        margin-left: 100px;
    }
    .course {
        margin-left: 1px;
    }
}

/* NOTE this is for phone */
@media screen and (max-width: 818px) {
    .img {
        max-width: 700px;
    }
    .net {
        margin-left: 50px;
    }    
}
@media screen and (max-width: 780px) {
    .img {
        max-width: 500px;
    }
    .nav-link {
        margin-left: 30px;
    }
}
@media screen and (max-width: 500px) {
    .nav {
        margin-left: 0%;
    }
    .nav-link {
        margin-left: 1px;
    }
    .img {
        max-width: 350px;
        height: 260px;
    }
    .detail {
        margin-right: 0px;
    }
}
