@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:wght@300;400&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
.links {
    list-style-type: none;
}

.list-item {
    margin: 0%;
    line-height: 25px;
    color: rgb(210, 210, 210);
    text-decoration: none;
}

.list-item:hover {
    color: white;
}
.nav-link {
    color: rgb(150, 150, 150);
    text-decoration: none;
}
.nav-link:hover {
    color: rgb(0, 0, 0);
}
.text {
    color: rgb(105, 105, 105);
    line-height: 40px;
}
.text-main {
    color: rgb(105, 105, 105);
    line-height: 40px;
}

.link {
    color: rgb(186, 186, 186);
    text-decoration: none;
}

.link:hover {
    color: black;
}
.foot {
    background-color: #004E98;
    margin-top: 100px;
    padding-bottom: 50px;
}
.foot-main {
    padding-top: 100px;
    color: white;
    margin-bottom: 60px;
}


/* NOTE this is for laptops */
@media screen and (min-width: 1205px) {
    .nav {
        margin-top: 50px;
        margin-left: 180px;
    }
    .nav-link {
        margin-left: 100px;
        margin-top: 10px;
    }
    .foot-main {
        display: flex;
        padding-left: 180px;
    }

    .foot > hr {
        margin-left: 180px;
        margin-right: 180px;
    }

    .tutorials {
        margin-left: 200px;
    } 

    .course {
        margin-left: 40px;
    }

    .examples {
        margin-left: 20px;
    }

    .about {
        margin-top: 200px;
    }

    .head {
        font-size: 45px;
    }

    .privacy, .terms {
        margin-left: 180px;
    }
}
/* NOTE this is for phones and tabs */
@media screen and (max-width: 1205px) {
    .detail {
        border-bottom: 1px solid white;
    }
    .foot-main {
        text-align: center;
    }
    .course {
        padding-left: 40px;
    }
    .nav {
        display: grid;
        text-align: center;
    }
    .nav-link {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}