---
import MainLayout from "../../../layout/MainLayout.astro";
---

<MainLayout title="JavaScript challenges">
  <div class="my-5 mx-10 leading-10">
    <h1 class="text-4xl">JavaScript Challenge: React todo CRUD app</h1>
    <div class="mt-3">
      <h2 class="text-3xl">What will I get?</h2>
      <p>
        On participating in this challenge you will receive this cool
        certificate:
      </p>
      <img
        src="https://dev-to-uploads.s3.amazonaws.com/uploads/articles/hbwc3yjb3w218v50890q.png"
        alt="Participation certificate"
      />
      <h2 class="text-3xl">How to participate?</h2>
      <p>Participating is really simple just follow these steps:</p>
      <ol class="list-decimal">
        <li>Create the react CRUD todo app</li>
        <li>Create a github repository for it</li>
        <li>Add the ezpie-challenge tag to your repository</li>
        <li>Deploy the app if you like(recommended)</li>
        <li>
          Wait for me to find your repository and give you the certificate!
        </li>
      </ol>
      <h2 class="text-3xl">How will I be judged?</h2>
      <p>You will be judged by:</p>
      <ul class="list-disc">
        <li>App styling</li>
        <li>Proper code writing</li>
        <li>Testing your code</li>
      </ul>
      <h2 class="text-3xl">Final day for the challenge</h2>
      <p>
        You have one week to make this app, till 21 April, 2023(IST). You will
        be given the certificate within 5 days from the last day of the
        challenge.
      </p>
      <p>Best of wishes in winning the challenge!</p>
    </div>
  </div>
</MainLayout>
