<!-- company links -->
{%- assign about_page = "company/about" -%}
{%- assign privacy_page = "company/privacy" -%}
{%- assign terms_page = "company/terms" -%}

<!-- logo images -->
{%- assign github_logo = "/assets/images/logo/internet/github-logo.png" -%}
{%- assign twitter_logo = "/assets/images/logo/internet/Twitter-logo.png" -%}
{%- assign dev_logo = "/assets/images/logo/internet/dev-logo.png" -%}

<footer class="foot">
    <section class="foot-main">
        <div class="detail">
            <h1 class="head">Ezpie</h1>
            <p><strong>Email</strong>: ezpie.co@gmail.com</p>
        </div>
        <div class="challenges">
            <h3 class="Header">challenges</h3>
            <!-- TODO add example links -->
            <ul class="links">
                <li><a href="#" class="list-item">Python challenges</a></li>
                <li><a href="#" class="list-item">Java challenges</a></li>
                <li><a href="#" class="list-item">Javascript challenges</a></li>
                <li><a href="#" class="list-item">Golang challenges</a></li>
            </ul>
        </div>

        <div class="Company">
            <h3 class="Header">Company</h3>
            <ul class="links">
                <!-- TODO add links -->
                <li><a href="{{ about_page | relative_url }}" class="list-item">About</a></li>
                <li><a href="{{ privacy_page | relative_url }}" class="list-item">Privacy Policy</a></li>
                <li><a href="{{ terms_page | relative_url }}" class="list-item">Terms conditions</a></li>
            </ul>
        </div>
    </section>
    <hr>
    <section class="info">
        <p class="copyright">Copyright (c) 2022 Ezpie</p>
        <div class="net">
            <a href="https://github.com/ishaan010" target="_blank" class="link">
                <img class="net-icon" src="{{ github_logo | relative_url }}" alt="Ezpie github page" width="30px">
            </a>
            <a href="https://twitter.com/EzpieCo" target="_blank" class="link">
                <img src="{{ twitter_logo | relative_url }}" alt="Ezpie twitter page" width="30px" class="net-icon">
            </a>
            <a href="https://dev.to/ishaan010" target="_blank" class="link">
                <img src="{{ dev_logo | relative_url }}" alt="Ezpie dev.to page" class="net-icon" width="30px">
            </a>
        </div>
    </section>
</footer>