$Primary_color: #ffffff
$Secondary_color: #61cbf2
$Font_family: "IBM Plex Mono", monospace
$Text_color: #666666
$link_color: #5322fd
$link_hovered: #9577ff
$code_background: #4c4c4c
$Main_border_color: #b9b9b9
$Head_color: #000000
