// #ffffff, #61cbf2, #666666
$Primary_color: #222831
$Secondary_color: #393E46
$Font_family: "IBM Plex Mono", monospace
$Text_color: #00ADB5
$link_color: #EEEEEE
$link_hovered: #00ADB5
$code_background: #4c4c4c
$Main_border_color: #b9b9b9
$Head_color: #EEEEEE

// code highlight
$Background_color: #282A36
$Comment_color: #6272A4
$Variable_color: #ffffff
$Operator_color: #FF79C6
$Plane_text_color: #ffffff
$Literal_color: #BD93F9
$Keyword_color: #FF79C6
$Method_color: #8BE9FD
$Terminal_color: #50FA7B
$String_color: #F1FA8C