---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="ezpie - About Us">
  <div class="text-center mx-10 my-10">
    <section class="mb-5">
      <h1 class="text-5xl mb-5 underline">About Us</h1>
      <div class="text-left">
        <p>
          Welcome to ezpie, an open-source platform dedicated to empowering
          developers and making programming accessible to all. At ezpie, our
          mission is to simplify the learning process and provide valuable
          resources for developers of all skill levels.
        </p>
      </div>
    </section>
    <section class="mb-5">
      <h1 class="text-5xl mb-5 underline">Our Vision</h1>
      <div class="text-left">
        <p>
          We believe that everyone should have the opportunity to learn and
          excel in programming. With this vision in mind, we created ezpie as an
          open-source project, inviting developers from around the world to
          contribute and collaborate. Our goal is to build a thriving community
          where knowledge is shared freely and accessible to all.
        </p>
      </div>
    </section>
    <section class="mb-5">
      <h1 class="text-5xl mb-5 underline">What We Offer</h1>

      <div class="text-left">
        <p>
          At ezpie, you'll find a range of resources to enhance your programming
          skills. Our platform features a collection of informative blog posts,
          practical tutorials, and insights into various programming fields,
          including web development, app development, full stack, backend,
          frontend, algorithms, and more. We strive to provide high-quality
          content that caters to both beginner developers and experienced
          programmers looking to expand their knowledge.
        </p>
      </div>
    </section>

    <section class="mb-5">
      <h1 class="text-5xl mb-5 underline">Open-Source Community</h1>

      <div class="text-left">
        <p>
          ezpie is an open-source project, and we believe in the power of
          collaboration. We invite developers like you to contribute to the
          growth of our platform. If you have valuable insights, tutorials, or
          any other programming-related content, we welcome your contributions.
          Visit our <a
            href="https://github.com/EzpieCo/ezpie"
            class="text-blue-600 hover:text-blue-400 hover:underline"
            >GitHub repository</a
          > to get involved and make a difference in the programming community.
        </p>
      </div>
    </section>

    <section class="mb-5">
      <h1 class="text-5xl mb-5 underline">Connect with Us</h1>

      <div class="text-left">
        <p>
          Follow us on Twitter at <a
            href="https://twitter.com/ezpieco"
            class="text-blue-600 hover:text-blue-400 hover:underline"
            >@EzpieCo</a
          > to stay updated on the latest news, blog posts, and announcements from
          ezpie. Join our growing community of developers and engage in meaningful
          conversations, share ideas, and connect with like-minded individuals who
          share your passion for programming. At ezpie, we believe that together
          we can make programming education more accessible and enjoyable. Join us
          on this exciting journey of learning, collaboration, and growth.
        </p>
      </div>
    </section>
    <section>
      <h1 class="text-4xl mb-5 underline">
        What's the Difference between Ezpie and ezpie?
      </h1>

      <div class="text-left">
        <p>
          At ezpie, it's important to distinguish between two key elements:
          "Ezpie" and "ezpie." Let's clarify their roles and how they contribute
          to your experience on our platform.
        </p>
        <section class="mt-3">
          <p class="font-bold">Ezpie (with a capital 'E'):</p>
          <p>
            Ezpie, with a capital 'E', represents the creator and driving force
            behind ezpie. As the founder of this platform, Ezpie (the pen name)
            is an Indian developer with a wealth of experience in the
            programming world. With a diverse skill set encompassing full-stack
            web development and the ability to create various types of
            applications and software, Ezpie brings a passion for coding and a
            commitment to making learning programming as easy as possible.
          </p>
        </section>
        <section>
          <p class="font-bold">ezpie (with a lowercase 'e'):</p>
          <p>
            ezpie, on the other hand, refers specifically to the website and
            platform itself. It is the space where developers, both beginners
            and experienced, can access a wealth of valuable resources,
            including blog posts, tutorials, courses, challenges, and a thriving
            community. ezpie (with a lowercase 'e') is designed to cater to your
            programming needs, providing you with the tools and knowledge to
            enhance your skills and broaden your understanding of different
            programming fields.
          </p>
        </section>
        <div class="mt-10">
          <p>
            While Ezpie is the driving force behind the creation and curation of
            content on ezpie, it's important to remember that ezpie (the
            platform) is the primary focus. The website serves as a hub for
            developers, offering a comprehensive learning experience and
            opportunities to connect with like-minded individuals who share a
            passion for programming.
          </p>
        </div>
      </div>
    </section>
  </div>
</MainLayout>
