---
import MainLayout from "../layout/MainLayout.astro";

const title = "Ezpie - Learn Programming";
const description = "Learn to Code with simple blogs";
---

<MainLayout title={title} description={description}>
  <img src="/default.svg" alt="Ezpie default image" />
  <div class="bg-gray-900 text-center text-white py-5 px-16">
    <h1 class="text-5xl mb-5">ABOUT US</h1>
    <p>
      Ezpie is a website that provides simple and easy steps to follow when learning to program
    </p>
  </div>
  <div class="text-center py-5 px-16">
    <h1 class="text-5xl mb-5">Why Choose Us?</h1>
    <p>
      Our objective is to help you learn to code in the simplest ways possible so you can go from zero to hero in no time!
    </p>
  </div>
</MainLayout>
