---
import MainLayout from "../layout/MainLayout.astro";

const title = "Ezpie - Learn Programming";
const description = "Learn to Code with simple blogs";
---

<MainLayout title={title} description={description}>
  <img src="/default.svg" alt="Ezpie default image" />
  <div class="bg-gray-900 text-center text-white py-5 px-16">
    <h1 class="text-5xl mb-5">ABOUT US</h1>
    <p>
      Just tring to help others out how to code and simple easy to follow ways
      to learn programming.
    </p>
  </div>
  <div class="text-center py-5 px-16">
    <h1 class="text-5xl mb-5">Why Choice Us?</h1>
    <p>
      Learning to code is not easy, but learning to understand is! With that in
      mind, I came up with ideas and plans to help you how you can code simple
      block of code to make larger and complex apps and websites
    </p>
  </div>
</MainLayout>
