---
import MainLayout from "../layout/MainLayout.astro";

const title = "Ezpie - Learn Programming";
const description = "Learn to Code with simple blogs";
---

<MainLayout title={title} description={description}>
  <img src="/default.svg" alt="Ezpie default image" />
  <div class="bg-gray-900 text-center text-white py-5 px-16">
    <h1 class="text-5xl mb-5">ABOUT US</h1>
    <p>
      Welcome to ezpie, an open-source platform dedicated to empowering
      developers and making programming accessible to all. At ezpie, our mission
      is to simplify the learning process and provide valuable resources for
      developers of all skill levels.
    </p>
    <p>
      We believe that everyone should have the opportunity to learn and excel in
      programming. With this vision in mind, we created ezpie as an open-source
      project, inviting developers from around the world to contribute and
      collaborate. Our goal is to build a thriving community where knowledge is
      shared freely and accessible to all.
    </p>
  </div>
  <div class="text-center py-5 px-16">
    <h1 class="text-5xl mb-5">Why Choose Us?</h1>
    <p>
      At ezpie, you'll find a range of resources to enhance your programming
      skills. Our platform features a collection of informative blog posts,
      practical tutorials, and insights into various programming fields,
      including web development, app development, full stack, backend, frontend,
      algorithms, and more. We strive to provide high-quality content that
      caters to both beginner developers and experienced programmers looking to
      expand their knowledge.
    </p>
  </div>
</MainLayout>
